@model LIS.ViewModel.Admin.LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-color:#5288a3;">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Html.AntiForgeryToken()
    <div style="margin-left:35%;margin-top:10%;margin-right:35%;border:2px solid #808080;padding:15px;background-color:#f6f2f2;border-radius:2px;">
        <div class="form-horizontal">
            <h3 style="text-align:center;">Login</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" id="btnLogin" value="Login" class="btn btn-success" />
                    <input type="submit" id="btnToken" value="GetToken" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>


</body>
</html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#btnToken').click(function () {
            var token = localStorage.getItem('access_token');
        });
        $('#btnLogin').click(function () {
            alert('hello');
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/token',
                data: { username: $('#UserName').val(), password: $('#Password').val(), grant_type: 'password' },
                success: function (data) {

                    localStorage.setItem('access_token', data.access_token);
                },
                error: function (respone) {
                    console.log(respone);
                }
            });
        });
    });
</script>
