@model IEnumerable<LIS.Core.DataModel.LotteryPrizeType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
@*Normal*@
<link href="~/wwroot/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/wwroot/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
@*Jquery ui*@
@*<link href="~/wwroot/plugins/datatables/dataTables.jqueryui.css" rel="stylesheet" />*@

<script src="~/wwroot/plugins/jQuery/jquery-2.2.3.min.js"></script>
@*Normal*@
<script src="~/wwroot/plugins/datatables/jquery.dataTables.js"></script>
@*Jquery ui*@
@*<script src="~/wwroot/plugins/datatables/dataTables.jqueryui.min.js"></script>*@
<script>
    jQuery(function ($) {
        $("#tblLotteryPrizeType").DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="tblLotteryPrizeType">
    <thead>
        <tr>
            <th>Action</th>
            <th>ဆုအမျိုးအစား</th>
            <th>ဆုအမျိုးအစားဖော်ပြချက်</th>    
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "LotteryPrizeType", new {   id=item.LotteryPrizeTypeID })" class="tooltip-success wow slideInDown" data-wow-duration="2s" data-rel="tooltip" title="Edit">
                        <span class="green">
                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                        </span>
                    </a> |
                    <a href="@Url.Action("Delete", "LotteryPrizeType", new {  id=item.LotteryPrizeTypeID })" class="tooltip-error wow slideInDown" data-wow-duration="2s" data-rel="tooltip" title="Delete">
                        <span class="red">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </span>
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotteryPrizeTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotteryPrizeTypeDescription)
                </td>
                
            </tr>
            }
    </tbody>
</table>
